.over-header {
  background-color: #0282F9;
  color: #FFFFF2;
}

.jumbo {
  height: 350px;
  background-size: cover;
  background-image: url("../img/jumbotron.jpg");
}

nav {
  height: 80px;
}
nav > a > img {
  height: 65px;
}

.adv {
  height: 200px;
  width: 200px;
}

footer .footer-main {
  background-image: url(../img/footer-bg.jpg);
  height: 400px;
}
